.navbar {
  background-color: red;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 4px 10px grey;
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: white;
}

.navbar ul li a {
  color: black;
}

.navbar ul li a:hover {
  text-decoration: none;
  color: white;
}

.tallyMessage {
  text-align: center;
}

.noCreditsMessage {
  color: red;
}

.button-stripe {
  padding: 0.15rem 0.5rem;
}

.button-stripe:hover {
  border-color: black;
}

i.material-icons {
  line-height: inherit;
}

.card {
  background-color: #f2f2f2;
  box-shadow: 0 4px 10px grey;
}

.form-labels {
  font-size: 1.2rem;
  font-weight: 600;
}

ul.list-group {
  box-shadow: 0px 4px 10px grey;
}

.list-group li.list-group-item {
  background-color: #f2f2f2;
  border-color: black;
}

@media (max-width: 767px) {
  .tallyMessage {
    font-size: 0.8rem;
  }

  .surveyCard__title,
  .surveyCard__body {
    font-size: 0.7rem;
  }

  .survey__text__date {
    margin-bottom: 0;
  }

  .noCreditsMessage {
    font-size: 0.8rem;
  }
}
